.train-demo {

  position: relative;

  height: 700px;

  overflow: hidden;

  background:
    linear-gradient(
      180deg,
      #130404,
      #1d0808
    );
}

/* GRID */

.demo-grid {

  position: absolute;

  inset: 0;

  background-image:
    linear-gradient(
      rgba(255,70,70,0.05) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,70,70,0.05) 1px,
      transparent 1px
    );

  background-size: 60px 60px;
}

/* TRACK */
.train-track {

  position: absolute;

  width: 1400px;

  height: 2px;

  background:
    rgba(255,255,255,0.08);

  transform:
    rotate(-28deg);

  right: -180px;

  bottom: 450px;

  z-index: 1;
}

/* RAIL SLEEPERS */

.train-track::before {

  content: "";

  position: absolute;

  width: 100%;

  height: 60px;

  top: -28px;

  left: 0;

  background:
    repeating-linear-gradient(

      90deg,

      transparent 0px,

      transparent 16px,

      rgba(255,255,255,0.06) 16px,

      rgba(255,255,255,0.06) 18px
    );

  transform:
    skewX(-28deg);

  opacity: 0.7;
}
/* CRANE */

.crane-object {

  position: absolute;

  width: 200px;

  left: 52%;

  bottom: 145px;

  transform: translateX(-50%);

  z-index: 5;
}
.crane-back {

  position: absolute;

  z-index: 2;

  opacity: 0.45;
}


.crane-front {

  position: absolute;

  z-index: 8;

  pointer-events: none;
}
/* TRAIN */

.train-group {

  position: absolute;

  display: flex;

  align-items: flex-end;

  gap: -12px;

 right: 0px;

bottom: 450px;
  z-index: 4;
}
.train-engine {
    width: 100px;
    position: relative;
    z-index: 1;
    transform: translateY(0px);
}
/* CONTAINER */

.train-wagon1 {
    width: 100px;
    /* margin-left: 0px; */
    position: relative;
    z-index: -1;
    transform: translateY(22px);
    bottom: 68px;
    right: 18px;
   filter:

    hue-rotate(35deg)

    saturate(0.82)

    brightness(0.82)

    contrast(1.05)

    /* drop-shadow(
      0 10px 12px rgba(236, 12, 12, 0.38)
    ); */

}
/* TANKER */

.train-wagon2 {
    width: 100px;
    margin-left: -24px;
    position: relative;
    z-index: -2;
    transform: translateY(4px);
    bottom: 98px;
    right: 9px;
}
/* LAST ENGINE */

.train-wagon3 {
    width: 100px;
    /* margin-left: 0px; */
    position: relative;
    z-index: -3;
    transform: translateY(0px);
    bottom: 141px;
    right: 27px;
}